@model Structured_Programming.Models.Transaction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var buyerName = Model.BuyerId == WebSecurity.CurrentUserId ? "You" : Model.UserProfile.UserName;
    var ownerName = Model.Item.UserId == WebSecurity.CurrentUserId ? "your" : Model.Item.UserProfile.UserName + "'s";
}

<div class="body-content">
    <div class="container">
        <div class="divider1"></div>
        <div class="span12-no-margin">
            <div class="span7">
                <div class="head-style1" style="margin-left:-20px;">
                    <h2>Transaction details</h2>
                </div>
                <h2>
                    @Html.ActionLink(buyerName, "Details", "Account", new {@id = Model.BuyerId }, null) requested to buy @ownerName @Html.ActionLink(Model.Item.Name, "Details", "Account", new {@id = Model.ItemId })
                </h2>
                <ul class="port-details" style="margin-left:-5px;">
   
                    <li><strong>Buyer name:</strong><b>@Html.ActionLink(buyerName, "Details", "Account", new {@id = Model.BuyerId }, null)</b></li>
                    <li><strong>Will pay:</strong><b> @Model.Pay (Your wishing price: @Model.Item.Price )</b></li>
                    <li><strong>Method:</strong><b>@Model.Method.Name</b></li>
                    
                </ul>
                <strong style="margin-left:-5px; color:#f0f1f5;">Message:</strong>  <p><b>@(new HtmlString(Model.Message))</b></p>
            </div>

            @if (Model.Item.UserId == WebSecurity.CurrentUserId)
            {
                <div class="span5">
                    <div class="head-style1">
                        <h2>Your Decision</h2>
                    </div>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "contact_form" }))
                    {
                        if (Model.StatusId == 1)
                        {
                            @Html.HiddenFor(m => m.Id)
                            <div class="span12">
                                <label>Note: Your decision will be sent to buyer.</label>
                                <button name="decision" value="2" class="btn send-btn">Accept</button>
                                <button name="decision" value="3" class="btn send-btn">Decline</button>
                            </div>
                        }
                        else
                        {
                            <div class="span12">
                                <label>You have already @Model.Status.Name this request.</label>
                            </div>
                        }
                    }
                </div>
            }
            else
            {
                <div class="span5">
                    <div class="head-style1">
                        <h2>Owner Decision</h2>
                    </div>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "contact_form" }))
                    {
                        <div class="span12">
                        @if (Model.StatusId == 1)
                        {
                            <label class="span4">You need to wait until this item's owner makes the decision.</label>
                        }
                        else if(Model.StatusId == 2)
                        {
                            <label class="span4">Congratulation ! The item owner already @Model.Status.Name this request.</label>
                        }
                        else
                        {
                            <label class="span4">The item owner already @Model.Status.Name this request.</label> 
                        }
                        </div>
                            
                    }
                </div>                
            }

        </div>
    </div>
</div>