@model Structured_Programming.Models.TransactionIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
<div class="body-content">
    <div class="container">
        <div class="divider1"></div>
            <div class="head-style1">
                <h2>My transacion</h2>
            </div>
        <div class="span12-no-margin">
            @using (Html.BeginForm("Index", "Transaction", FormMethod.Get, new {@class="contact_form" }))
            {                
                <div class="span3 custom-dropdown" >
                    <div class="styled-select" style="width:200px;">
                        @Html.DropDownList("statusId", Model.StatusList, "All", new {@class="custom_dropdown"})
                    </div>
                </div>
                <div class="span4-no-margin custom-dropdown" style="margin-left:-10px;">
                    <div class="styled-select" style="width:250px;">
                        @Html.DropDownList("methodId", Model.MethodList, "All",new {@class="custom_dropdown"})
                    </div>
                </div>                
                <div class="span3-no-margin custom-dropdown" style="margin-left:-40px;" >
                    <div class="styled-select" style="width:250px;">
                        <select name="type">
                            <option value="0">All</option>
                            <option value="1">Sent</option>
                            <option value="2">Received</option>
                        </select>                        
                    </div>
                </div> 
                <div class="span2-no-margin" style="margin-left:40px;"> 
                     <input type="submit" value="Filter" class="btn send-btn" style="margin-top: 0px;"/>              
                </div>
                
            }
            <div class="span11">    
                <table class="table table-hover">
                    <thead>
                        <td style="width:2%">Id</td>
                        <td style="width:15%;">From
                        </td>
                        <td style="width:15%;">To
                        </td>
                        <td style="width:40%;">Title
                        </td>
                        <td style="width:10%;">Link
                        </td>
                        <td style="width:10%;">Date
                        </td>
                        <td>Item
                        </td>
                        <td>Status
                        </td>
                    </thead>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>@transaction.Id</td>
                            <td>
                                @if (WebSecurity.CurrentUserId == transaction.BuyerId)
                                {
                                    @:Me
                                }
                                else
                                {
                                    @Html.ActionLink(transaction.UserProfile.UserName, "Details", "Account", new {@id = transaction.UserProfile.UserId }, null) 
                                }
                            </td>
                            <td>
                                @if (WebSecurity.CurrentUserId == transaction.Item.UserId)
                                {
                                    @:Me
                                }
                                else
                                {
                                    @Html.ActionLink(transaction.Item.UserProfile.UserName, "Details", "Account", new {@id = transaction.Item.UserProfile.UserId }, null)   
                                }
                            </td>
                            <td>I want to buy your @transaction.Item.Name
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "transaction", new { @id = transaction.Id},null)
                            </td>
                            <td>
                                @transaction.DateModified.ToString("d/M/yyyy")
                            </td>
                            <td>@Html.ActionLink("link", "Details", "item", new {@id = transaction.Item.ItemId },null)</td>
                            @if (transaction.Status.Name == "Accept")
                            {
                                <td style="background-color:#00FF00;">
                                    @transaction.Status.Name
                                </td>
                            }
                            @if (transaction.Status.Name == "Cancel")
                            {
                                <td style="background-color:#FF0000;">
                                    @transaction.Status.Name
                                </td>
                            }
                            @if (transaction.Status.Name == "Pending")
                            {
                                <td style="background-color:#FFFF00;">

                                    @transaction.Status.Name
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="pagination">
                    @Html.PagedListPager((IPagedList)Model.Transactions, page => Url.Action("Index", new { statusId = Request["statusId"], methodId = Request["methodId"], page }))
                </div>
            </div>
        </div>
    </div>
</div>

