@{
    var types = (List<Structured_Programming.Models.Type>)ViewData["Categories"];
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>OLDSTUFF - EXCHANGING CENTRE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-57x57.html" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.html" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.html" />
    <link rel="stylesheet" type="text/css" href="/template/css/font.css">
    <!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->


    <script src="/Template/js/vendor/modernizr.custom.80910.js"></script>

    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Template/css/base.css" type="text/css">
    <link rel="stylesheet" href="/Content/style.css" type="text/css" />

</head>
<body>
    <!-- Header Start -->
    <header class="custom-header">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="/Images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="span8-no-margin">
                    <nav class="pull-left">
                        <ul class="sf-menu" id="nav">
                            <li><a href="/">Home</a></li>
                            <li>@Html.ActionLink("Upload", "Add", "Item")</li>
                            <li>
                                <li><a href="#">Category</a>
                                    <ul>
                                        @foreach (var type in types)
                                        {
                                            <li class="">@Html.ActionLink(type.Name, "Index", "Item", new { typeId = type.TypeId }, null)</li>
                                        }
                                    </ul>
                                </li>
                            </li>
                            <li>@Html.ActionLink("Transaction",null,"Transaction")</li>
                            <li>@Html.ActionLink("User", "index", "Account")</li>
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    <li><a href="#">Profile</a>
                                        <ul>
                                            <li>@Html.ActionLink("Profile", "Details", "Account")</li>
                                            <li>@Html.ActionLink("Change password", "Manage", "Account")</li>
                                            <li>@Html.ActionLink("Edit profile", "EditProfile", "Account")</li>
                                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                }
                            </li>
                        </ul>
                        @using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </nav>
                </div>
                <div class="span2 text-right custom-search-header pull-right">

                    @Html.Partial("/Views/Shared/_SearchForm.cshtml", new Structured_Programming.Models.SearchOptionsModel())
                    </form>
                </div>
            </div>
        </div>
    </header>

    <!-- Header End -->
    @RenderSection("featured", required: false)
    @RenderBody()
    <!-- Footer Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="span3">
                    <h3>User</h3>
                    <ul class="bullets-style arrow-list">
                        <li>@Html.ActionLink("My profile","Detais","Account")</li>
                        <li>@Html.ActionLink("My transaction","Details","Transaction")</li>
                        <li>@Html.ActionLink("Edit profile","Manage","Account")</li>
                        <li>@Html.ActionLink("User","index","Account")</li>
                    </ul>
                </div>
                <div class="span3">
                    <h3>Categories</h3>
                    <ul class="bullets-style arrow-list">                              
                        @foreach (var type in types)
                        {
                            <li class="">@Html.ActionLink(type.Name, "Index", "Item", new { typeId = type.TypeId }, null)</li>
                        }
                    </ul>
                </div>
                <div class="span3">
                    <h3>Quick Contact</h3>
                    <p>
                        <strong>VTProduction Center</strong>
                        <br>
                        69/96 Thai Ha Str, Hanoi
                        <br>
                    </p>

                    Tel: (84) 915-214-550<br>
                    Fax: (043) 872-8805<br>
                    Email: <a href="#">icome2kill@yahoo.com</a>
                </div>
                <div class="span3">
                </div>
            </div>
        </div>
    </footer>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="span12 text-center">
                    Copyright © 2013 By OldStuff. All rights reserved.<br>
                    Theme By <a href="#">Vtproduction</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <p id="back-top" style="display: none;">
        <a href="#top"><i class="icon-angle-up"></i></a>
    </p>
    <script type="text/javascript" src="/Template/js/vendor/jquery-1.8.3.min.js"></script>
    <script type='text/javascript' src='/Template/js/vendor/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src="/Template/js/vendor/jquery.plugins.min.js"></script>
    <script type="text/javascript" src="/Template/js/vendor/bootstrap.min.js"></script>
    <script type='text/javascript' src="/Template/js/vendor/tinynav.min.js"></script>
    <script type="text/javascript" src="/Template/js/vendor/superfish.js"></script>
    <script type="text/javascript" src="/Template/js/vendor/jcarousel.js"></script>
    <script type="text/javascript" src="/Template/js/vendor/isotope.js"></script>
    <script type="text/javascript" src="/Template/js/vendor/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="/Template/js/vendor/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/Template/js/vendor/jquery.carouFrcedSel.html"></script>
    <script type="text/javascript" src="/Template/js/vendor/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/Template/js/vendor/jquery.validate.js"></script>

    <script type="text/javascript" src="/Template/js/plugins.js"></script>
    <script type="text/javascript" src="/Template/js/main.js"></script>
    <script type="text/javascript">
        $(window).bind("load", function () {
            $(document).ready(function () {
                $('#flexslider-loader').fadeOut(800);
                $('#header-slider').flexslider({
                    animation: "slide",
                    controlNav: true,
                    smoothHeight: true,
                    directionNav: true,
                    slideshowSpeed: 5000,
                    direction: "vertical",
                    animationDuration: 5000,
                    nextText: "&rsaquo;",
                    prevText: "&lsaquo;",
                    keyboardNav: true,
                    easing: 'easeInOutBack',
                    useCSS: false,
                    controlsContainer: '.flex-container'
                });

                $('#second-slider').flexslider({
                    animation: "slide",
                    animationLoop: false,
                    itemWidth: 140,
                    controlNav: true,
                    directionNav: false,
                    move: 3,
                    itemMargin: 5,
                    maxItems: 5,

                });
            });
        });
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
