@model Structured_Programming.Models.HomeIndexModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;   
    <!-- Slider Start -->
    <div class="slider">
    	<div class="flexslider" id="header-slider">
          <ul class="slides">
            <li>
  	    	    <div class="container">
            		<div class="row">
                    	<div class="span11" style="margin-left:50px;">
                        	<div class="flex-caption">
                        	<h1>WANNA BUY AND SELL <br>Come join us !</h1>
                                <a class="my-btn btn-large btn-border" href="/account/register">SIGN UP NOW !</a>
                            </div>
                        </div>
                    </div>    
                </div>
  	    	</li>
            <li>
  	    	    <div class="container">
            		<div class="row">
                    	<div class="span11" style="margin-left:50px;">
                        	<div class="flex-caption">
                        	<h1>Thousand of<br>Variety items</h1>
                                <a class="my-btn btn-large btn-border" href="Item?typeId=1">TAKE A LOOK !</a>
                            </div>
                        </div>
                    </div>    
                </div>
  	    	</li>
            <li>
  	    	    <div class="container">
            		<div class="row">
                    	<div class="span11" style="margin-left:50px;">
                        	<div class="flex-caption">
                        	<h1>Awesome Sellers and Buyers<br>Will satisfied you !</h1>
                                <a class="my-btn btn-large btn-border" href="/account/index">EXPLORE NOW !</a>
                            </div>
                        </div>
                    </div>    
                </div>
  	    	</li>
          </ul>
        </div>
    </div>
    <!-- Slider End --> 
    <!-- Body content start -->
    <div class="body-content">
        <div class="container">
            <div class="row">
                
                <!-- lastest item Start -->
                <div class="span text-center" >
                    <h2 class="home-head">newest items</h2>
                </div>
                <div class="span12-no-margin">
                    <div class="portfolio-skin-carousel">
                        <div class="jcarousel-container jcarousel-container-horizontal">
                            <div class="jcarousel-clip jcarousel-clip-horizontal">
                                <ul class="portfolio-carousel jcarousel-list jcarousel-list-horizontal">
                                    @for (int i = 0; i < Model.LastestItems.Count(); i++)
                                    {
                                        var item = Model.LastestItems.ElementAtOrDefault(i);
                                        <li>
                                            <div class="span4">
                                                <div class="services-wrap">
                                                    <div class="icon-wrap bg_@item.TypeId">
                                                        <i class="icon-@item.TypeId"></i>
                                                    </div>
                                                    <div class="service-txt">
                                                        <h3>@Helpers.ShortenText(item.Name, 20)</h3>
                                                        <div class="bo-lao-bo-toet">@Helpers.ShortenText(item.Description, 40)</div>
                                                        @Html.ActionLink("Read more", "Details", "Item", routeValues: new { id = item.ItemId }, htmlAttributes: new { @class = "my-btn btn-small btn-border" })
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Lastest item End -->
                <div class="span12">
                    <div class="divider1">
                        
                    </div>
                </div>
                <div class="span text-center">
                    <h2 class="home-head">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAll  items&nbsp&nbsp&nbsp&nbsp&nbsp</h2>
                </div>
                @Html.Partial("/Views/Shared/_ListItems.cshtml", Model.Items)
                <div class="span12">
                    <div class="pagination">
                        @Html.PagedListPager((IPagedList)Model.Items, page => Url.Action("Index", new { typeId = Model.TypeId, page }))
                    </div>
                </div>
            </div>
        </div>
    </div> 