@model Structured_Programming.Models.ItemFormModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a new item</h2>
@using (Html.BeginForm("Add","Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Add a new item</legend>
        <ul>
            <li>
                @Html.LabelFor(m => m.Item.Name)
                @Html.TextBoxFor(m => m.Item.Name)
                @Html.ValidationMessageFor(m => m.Item.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Item.Description)
                @Html.TextBoxFor(m => m.Item.Description)
                @Html.ValidationMessageFor(m => m.Item.Description)
            </li>
            <li>
                @Html.LabelFor(m => m.Item.Price)
                @Html.TextBoxFor(m => m.Item.Price)
                @Html.ValidationMessageFor(m => m.Item.Price)
            </li>
            <li>
                @Html.LabelFor(m => m.Item.Trade)
                @Html.TextBoxFor(m => m.Item.Trade)
                @Html.ValidationMessageFor(m => m.Item.Trade)
            </li>
            <li>
                @Html.LabelFor(m => m.Image)
                <input name="image" id="image" type="file" />
            </li>
            <li>
                <label>Type</label>
                @Html.DropDownListFor(m => m.Item.TypeId, Model.TypeList)
            </li>
        </ul>
        <input type="submit" value="Add" />
    </fieldset>
}
