@model Structured_Programming.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Body Content Start -->

<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="divider1"></div>
            <div class="breadcrumb-links">
                <div>
                    @Html.ActionLink("All items", "Index", "Home") <i class="icon-angle-right"></i>
                    @Html.ActionLink(Model.Type.Name, "Index", "Item", new { TypeId = Model.TypeId }, null)<i class="icon-angle-right"></i>
                    @Model.Name
                </div>
            </div>
            <div class="divider1"></div>

            <div class="clearfix">&nbsp;</div>

            <div class="span7">
                <div class="head-style1" style="margin-left:-20px;">
                    <h2>@Model.Name</h2>
                </div>
                @Helpers.ImageFor(Model.ItemId, "400px", "300px")
            </div>

            <div class="span5">
                <div class="head-style1 " style="margin-left:-20px;">
                    <h2>Product Description</h2>
                </div>
                <h3>@Model.Description</h3>
                <br>
                <div class="head-style1 " style="margin-left:-20px;">
                    <h2>Product detail</h2>
                </div>
                <ul class="port-details" style="margin-left:-5px;">
                    <li><strong>Owner:</strong> @Html.ActionLink(@Model.UserProfile.UserName, "Details", "Account", new {@id = @Model.UserProfile.UserId}, null)</li>
                    <li><strong>Owner rating:</strong>@String.Format("{0:f2}",Model.UserProfile.Rating) (@Model.UserProfile.Rated.Count votes)</li>
                    <li><strong>Price:</strong> @Model.Price</li>
                    <li><strong>Category:</strong> @Model.Type.Name</li>
                    <li><strong>Want to trade with:</strong> @Model.Trade</li>

                </ul>
                <div class="clearfix">&nbsp;</div>

                @if (WebSecurity.CurrentUserId == Model.UserId)
                {
                    <text>
                    @Html.ActionLink("Delete", "Delete", new { id = Model.ItemId }, new { @class = "my-btn btn-small btn-border" })
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }, new { @class = "my-btn btn-small btn-border" })
                    </text>
                }
                else
                {
                    @Html.ActionLink("Buy", "Create", "Transaction", new { itemId = Model.ItemId }, new { @class = "my-btn btn-small btn-border" })
                }
                @Html.ActionLink("Back to List", "Index", null, new { @class = "my-btn btn-small btn-border" })
            </div>

            <div class="span12">
                <div class="divider1"></div>
            </div>
        </div>
    </div>
</div>
<!-- Body Content End -->
