@model Structured_Programming.Models.ItemIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;

<!-- Gray Bar Start -->
<div class="gray-bar">
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="social-icons">
                    <!--<ul>
                            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="icon-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="icon-facebook"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Google Plus"><i class="icon-google-plus"></i></a></li>                            
                            <li><a href="#" data-toggle="tooltip" title="Dribble"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Flickr"><i class="icon-flickr"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Pinterest"><i class="icon-pinterest"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Youtube"><i class="icon-youtube"></i></a></li>
                        </ul>-->
                </div>
                <div class="breadcrumb-links">
                    <div>
                        @Html.ActionLink("All items", "Index", "Home") <i class="icon-angle-right"></i>
                        @Model.TypeName
                    </div>
                </div>
            </div>
            <div class="span6 text-right">
                @Html.Partial("/Views/Shared/_SearchForm.cshtml", new Structured_Programming.Models.SearchOptionsModel())
            </div>
        </div>
    </div>
</div>
<!-- Gray Bar End -->
<div class="body-content">
    <div class="container">
        <div class="row">
            @Html.Partial("/Views/Shared/_ListItems.cshtml", Model.Items)
            <div class="span12">
                <div class="pagination">
                    @Html.PagedListPager((IPagedList)Model.Items, page => Url.Action("Index", new { typeId = Request["TypeId"], page }))
                </div>
            </div>
        </div>
    </div>
</div>
