@model Structured_Programming.Models.ItemIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<p>
    @Html.ActionLink("Create New", "Add")
</p>
@Html.DropDownListFor(m => m.TypeId, Model.TypeList, "All", htmlAttributes: new { id = "filter_option" })
<ul>
    @foreach (var item in Model.Items)
    {
        <li style="display: inline-block;">
            <p>
                <a href='@Url.Action("Details", "Item", new { id = item.ItemId })'>
                    @Helpers.ImageFor(item.ItemId, "200px", "200px");
                </a>
            </p>
            <p>
                @Html.ActionLink(@item.Name, "Details", new { id = item.ItemId })
            </p>
            <p>
                Posted by @Html.ActionLink(item.UserProfile.UserName, "Details", "Account", routeValues: new { id = item.UserId }, htmlAttributes: new { id = item.UserId })
            </p>
            <p>
                Price: @string.Format("{0:c}", @item.Price)
            </p>
        </li>    
    }
</ul>
<div style="clear:both"></div>
@Html.PagedListPager((IPagedList)Model.Items, page => Url.Action("Index", new { typeId = Model.TypeId, page }))
@section Scripts {
    @Scripts.Render("~/Scripts/script.js")
}