@model Structured_Programming.Models.ItemIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Add")
</p>
    @Html.DropDownListFor(m => m.TypeId, Model.TypeList, "All", htmlAttributes: new { id = "filter_option" })
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Want to trade with
        </th>
        <th>
            Owner
        </th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.ActionLink(@item.Name, "Details", new { id = item.ItemId } )
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @string.Format("{0:c}", @item.Price)
        </td>
        <td>
            @item.Trade
        </td>
        <td>
             @Html.ActionLink(item.UserProfile.UserName, "Details", "Account", routeValues: new { id = item.UserId }, htmlAttributes: new { id = item.UserId })
        </td>
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/Scripts/script.js")
}