@model Structured_Programming.Models.LocalPasswordModel


<div class="show-grid-row">
    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class="contact_form" }))
    {
            @Html.AntiForgeryToken()   
        <div>
            <div class="span12">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "span6" })
                <div class="error-msg">
                    @Html.ValidationMessageFor(m => m.OldPassword)
                    @Html.ValidationMessage("Error")

                </div>
            </div>
            <div class="span12">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "span6" })
                <div class="error-msg">
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="span12">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span6" })
                <div class="error-msg">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="span12">
                <input class="btn send-btn" style="width:180px;" type="submit" value="Change password" />
            </div>
        </div>
    }
</div>
