@model Structured_Programming.Models.LocalPasswordModel

<h3>Change password</h3>

<div class="show-grid-row">
    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class="contact_form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <div class="span12">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "span6" })
            </div>
            <div class="span12">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "span6" })
            </div>
            <div class="span12">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span6" })
            </div>
            <div class="span12">
                <input class="btn send-btn" type="submit" value="Change password" />
            </div>
        </fieldset>
    }
</div>
