@model Structured_Programming.Models.UserProfile

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <div class="container">
        <div class="divider1"></div>
        <div class="span7-no-margin">
            <div class="head-style1">
                <h2>User detail</h2>
            </div>
            <div class="span6">
                <table class="custom-fontsize">
                    <tr>
                        <td>
                            <h2>@Html.DisplayNameFor(model => model.UserName)</h2>
                        </td>
                        <td class="space"></td>
                        <td>@Html.DisplayFor(model => model.UserName)</td>
                    </tr>
                    <tr>
                        <td>
                            <h2>@Html.DisplayNameFor(model => model.Email)</h2>
                        </td>
                        <td class="space"></td>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td>
                            <h2>@Html.DisplayNameFor(model => model.FirstName)</h2>
                        </td>
                        <td class="space"></td>
                        <td>@Html.DisplayFor(model => model.FirstName)</td>
                    </tr>
                    <tr>
                        <td>
                            <h2>@Html.DisplayNameFor(model => model.LastName)</h2>
                        </td>
                        <td class="space"></td>
                        <td>@Html.DisplayFor(model => model.LastName)</td>
                    </tr>
                    <tr>
                        <td>
                            <h2>@Html.DisplayNameFor(model => model.Address)</h2>
                        </td>
                        <td class="space"></td>
                        <td>@Html.DisplayFor(model => model.Address)</td>
                    </tr>
                    <tr>
                        <td>
                            <h2>Rating</h2>
                        </td>
                        <td class="space"></td>
                        <td><div class="span1-no-margin"><h1>@String.Format("{0:f2}",Model.Rating)</h1> </div><div class="span2-no-margin" style="display:inline;">(Rated @Model.Rated.Count times)</div></td>
                    </tr>
                </table>

                <div id="contact_form">
                    @if (Model.UserId == WebSecurity.CurrentUserId)
                    {
                        @Html.ActionLink("Change password", "Manage", "Account", null, new { @class = "btn send-btn" })
                        @Html.ActionLink("Edit your profile", "EditProfile", "Account", new { @class = "btn send-btn" })
                    }
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="head-style1">
                <h2>Rating user</h2>
            </div>
            <div class="span5">
                @if (Model.UserId != WebSecurity.CurrentUserId && ViewBag.CanBeRated)
                {
                    using (Html.BeginForm("Create", "Rate", FormMethod.Post, new {@class="contact_form" }))
                    {
                        @Html.HiddenFor(m => m.UserId)
                        <table>
                            <tr>
                                <td><img src="../../images/star2.png"/></td>
                                <td><input type="radio" value="1" name="score" id="r1"/><label for="r1" style="display:inline;"><span></span>Very bad</label><br /></td>
                            </tr>
                            <tr>
                                <td><img src="../../images/star2.png"/><img src="../../images/star2.png"/></td>
                                <td><input type="radio" value="2" name="score" id="r2"/><label  for="r2" style="display:inline;"><span></span>Bad</label><br /></td>
                            </tr>
                            <tr>
                                <td><img src="../../images/star2.png"/><img src="../../images/star2.png"/><img src="../../images/star2.png"/></td>
                                <td><input type="radio" value="3" name="score" id="r3"/><label for="r3"  style="display:inline;"><span></span>Good</label><br /></td>
                            </tr>
                            <tr>
                                <td><img src="../../images/star2.png"/><img src="../../images/star2.png"/><img src="../../images/star2.png"/><img src="../../images/star2.png"/></td>
                                <td><input type="radio" value="4" name="score" id="r4"/><label for="r4" style="display:inline;"><span></span>Very good</label><br /></td>
                            </tr>
                            <tr>
                                <td><img src="../../images/star2.png"/><img src="../../images/star2.png"/><img src="../../images/star2.png"/><img src="../../images/star2.png"/><img src="../../images/star2.png"/></td>
                                <td><input type="radio" value="5" name="score" id="r5"/><label for="r5" style="display:inline;"><span></span>Excellent</label><br /></td>
                            </tr>                       
                        </table>
                        <div class="divider1"></div>
                        <input type="submit" class="btn send-btn" value="Rate !" />
                    }
                }
                else if (!ViewBag.CanBeRated)
                {
                    @:You have already rated for this user in the last 24h.
                }
            </div>
        </div>
        <div class="span12-no-margin">
            <div class="head-style1">
                <h2>Item posted</h2>
            </div>
            <div class="span12">
                <table class="table table-hover">
                    <thead>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Price</td>
                        <td>Want to trade with</td>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@Html.ActionLink(item.Name, "Details", "Item", routeValues: new { id = item.ItemId }, htmlAttributes: null)</td>
                                <td>@item.Description</td>
                                <td>@string.Format("{0:c}", @item.Price)</td>
                                <td>@item.Trade</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
