@model Structured_Programming.Models.UserProfile

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<fieldset>
    <legend>UserProfile</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    @if (Model.UserId == WebSecurity.CurrentUserId)
    {
        @Html.ActionLink("Change your password", "Manage", "Account")
        @Html.ActionLink("Edit your profile", "EditProfile", "Account")
    }

    <h3>Items posted</h3>
    <table>
        <tr>
            <th class="display-label">Name
            </th>
            <th class="display-label">Description
            </th>
            <th class="display-label">Price
            </th>
            <th class="display-label">Want to trade with
            </th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Details", "Item", routeValues: new { id = item.ItemId }, htmlAttributes: null)</td>
                <td>@item.Description</td>
                <td>@string.Format("{0:c}", @item.Price)</td>
                <td>@item.Trade</td>
            </tr>
        }
    </table>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
