@model Structured_Programming.Models.UserProfile

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <div class="container">
        <div class="divider1"></div>
        @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { @class="contact_form" }))
        {
            @Html.AntiForgeryToken()
            <div class="head-style1">
                <h2>Edit your profile</h2>
            </div>
                <div class="span12">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.FirstName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "span6" })
                        <div class="error-msg">
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>
                </div>
                <div class="span12">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.LastName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "span6" })
                        <div class="error-msg">
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>
                </div>
                <div class="span12">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Address)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Address, new { @class = "span6" })
                        <div class="error-msg">
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </div>
                </div>
                <div class="span12">
                    <p>
                        <input class="btn send-btn" type="submit" value="Save" />
                    </p>
                </div>
        }
    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}