@model Structured_Programming.Models.LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Body Content Start -->
<div class="body-content">
    <div class="container">
        <div class="comments-wrap">
            <div class="head-style1">
                <h3>Sign in</h3>
            </div>
            <div class="show-grid row">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { @class = "contact_form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="span8">
                        @Html.ValidationSummary(true)
                        @Html.ValidationMessage("Error")
                    </div>
                    <div class="span12">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "span6", id = "username" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="span12">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "span6", id = "password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="span12">
                        @Html.CheckBoxFor(m => m.RememberMe) Remember me?.
                    </div>
                    <div class="span12">
                        <input type="submit" value="Sign in" class="btn send-btn">
                        &nbsp
                                @Html.ActionLink("Sign up", "Register", null, new { @class = "btn send-btn" })
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}