@model Structured_Programming.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <div class="container">
        <div class="comments-wrap">
            <div class="head-style1">
                <h3>Sign up</h3>
            </div>
            <div class="show-grid row">
                @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { @class = "contact_form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="span8">
                        @Html.ValidationSummary(true)
                        @Html.ValidationMessage("Error")
                    </div>
                    <div class="span12">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "span6", id = "username" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="span12">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "span6", id = "password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="span12">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span6", id = "confirm_password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <div class="span12">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "span6" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="span12">
                        <input type="submit" value="Sign up" class="btn send-btn">
                        &nbsp
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
